<h1 class="register-title">Register</h1>
<p ng-class="messageClass">{{message}}</p>
<form class="register-form" name="register-form">
    <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" id="username" type="text" name="username" ng-model="username" ng-change="checkButton()"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" id="password" type="password" name="password" ng-model="password" ng-change="checkButton()"/>
        <label for="password-repeat">Password-repeat:</label>
        <input class="form-control" id="password-repeat" type="password" name="password-repeat" ng-model="passwordRepeat" ng-change="checkButton()"/>
    </div>
    <button ng-click="register()"
            ng-class="buttonClass">
        Register
    </button>
</form>